.form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-field:not(:first-child) {
    margin-top: 15px;
}

.input-label {
    font-size: 20px;
}

.input-text {
    padding: 5px 5px;
    margin-top: 6px;
}