.footer-container {
    display: flex;
    padding: 30px 40px;
    background-color: var(--color-a);
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: bolder;
    color: var(--text-color);
}

.footer-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    color: var(--text-color);
    margin-top: 35px;
}